.container {
    /* padding: 1.5vw; */
}

.formGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5vw;
}


@media (min-width: 768px) {
    .formGrid {
        grid-template-columns: repeat(2, 1fr);
        gap: 2vw 3vw;
    }

    .formGroup {
        margin-bottom: 1.6vw;
    }

    .label {
        font-size: 1.4vw;
    }

    .input {
        height: 2.7vw;
        padding: 1.1vw 0 1vw 1.6vw;
        font-size: 1.4vw;
    }

    .input::placeholder {
        font-size: 1.4vw;
    }
}

.formGroup {
    margin-bottom: 0.5vw;
    transition: all 0.3s ease;
}

.formGroup:hover {
    /* transform: translateY(-2px); */
}

.label {
    display: block;
    margin-bottom: 0.6vw;
    color: var(--label-color);
    font-size: 0.875vw;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.inputWrapper {
    position: relative;
}

.input {
    width: 100%;
    height: 2.5vw;
    padding: 0.8125vw 2.5vw 0.75vw 1.25vw;
    background: transparent;
    border: 0.0625vw solid var(--border-color);
    color: rgba(255, 255, 255, .8);
    font-size: 0.875vw;
    border-radius: var(--primary-border-radius);
    transition: all 0.2s ease-in-out;
}

.input::placeholder {
    color: var(--primary-placeholde-color);
    font-size: 0.8750000000000001vw;
}

.input:focus {
    outline: none;
    border-color: var(--primary-border-input);
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #131217 inset !important;
    -webkit-text-fill-color: #fff;
}

.inputIcon {
    position: absolute;
    right: 1vw;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    opacity: 0.7;
    transition: opacity 0.2s ease;
}

.input:focus+.inputIcon {
    opacity: 1;
}

@media (max-width: 767px) {

    .inputIcon {
        top: 26%;
        height: 2.2vw;
    }

    .inputIcon svg {
        height: 100%;
    }

    .formGroup {
        margin-bottom: 1.6vw;
    }

    .label {
        font-size: 1.4vw;
    }

    .input {
        height: 2.7vw;
        padding: 1.1vw 0 1vw 1.6vw;
        font-size: 1.4vw;
    }

    .input::placeholder {
        font-size: 1.4vw;
    }
}