.header {
    height: 3.75vw;
    background-color: var(--secondary-bg);
    border-bottom: 0.0625vw solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2vw;
}

.logo {
    height: 100%;
    border-right: 0.0625vw solid var(--border-color);
    width: 14.374999999999998vw;

    display: flex;
    align-items: center;
    justify-content: center;
}


.logoText {
    font-size: 1.375vw;
    font-weight: 500;
    color: var(--text-sider-heading);
}


.logo img {
    visibility: hidden;
}

.buttonContainer {
    width: 5.25vw;
    height: 2.1875vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.saveButton {
    background: var(--primary-button-color);
    background: #252429;
    color: white;
    border: none;
    /* padding: 0.8125vw 1.7500000000000002vw; */
    cursor: pointer;
    font-size: var(--font-size-primary);
    border-radius: .5vw;
    width: 5.25vw;
    height: 2.1875vw;
}

.saveButton:hover {
    opacity: .8;
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
    .header {
        height: 4.6vw;
        border-bottom: 0.08vw solid var(--border-color);
        padding-right: 3vw;
    }

    .logo {
        width: 25.1vw;
        border-right: 0.08vw solid var(--border-color);
    }

    .buttonContainer {
        width: 7.5vw;
        height: 3vw;
    }

    .saveButton {
        font-size: 1.4vw;
        border-radius: 1vw;
        width: 7.5vw;
        height: 3vw;
    }

    .saveButton:hover {
        transform: scale(1.05);
    }
}