.formGroup {
    margin-bottom: 1.0625vw;
}

.label {
    display: block;
    margin-bottom: 1.0625vw;
    color: var(--label-color);
    font-size: var(--font-size-primary);
}

.selectWrapper {
    position: relative;
    width: 100%;
}

.selectControl {
    width: 100%;
    height: 2.125vw;
    padding: 0.8125vw 0 0.75vw 1.25vw;
    background: var(--secondary-bg);
    border: 0.0625vw solid var(--border-color);
    color: var(--label-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-radius: var(--primary-border-radius);
}

.placeholder {
    color: var(--primary-placeholde-color);
    font-size: var(--font-size-primary);
}

.value {
    color: var(--label-color);
    font-size: var(--font-size-primary);
}

.arrow {
    font-size: 0.7vw;
    margin-right: 1.25vw;
    transition: transform 0.2s ease;
    color: var(--label-color);
}

.arrowUp {
    transform: rotate(180deg);
}

.optionsList {
    position: absolute;
    top: calc(100% + 0.3125vw);
    left: 0;
    right: 0;
    background: var(--secondary-bg);
    border: 0.0625vw solid var(--border-color);
    z-index: 1000;
    max-height: 12.5vw;
    overflow-y: auto;
}

.option {
    padding: 0.625vw 1.25vw;
    color: var(--label-color);
    font-size: var(--font-size-primary);
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.option:hover {
    background-color: var(--hover-secondary);
}